// Copyright (c) 2018 Tildes contributors <code@tildes.net>
// SPDX-License-Identifier: AGPL-3.0-or-later

.group-list {
  margin: 1rem 0;

  ol {
    margin-left: 1rem;
  }

  li {
    text-indent: -1rem;
    margin-left: 1rem;
  }

  li + li {
    margin-top: 1rem;
  }

  .link-group {
    font-weight: bold;
  }
}

.group-list-activity {
  font-style: italic;
  font-size: 0.6rem;
  line-height: 0.8rem;
}

.group-list-item-not-subscribed {
  a.link-group {
    color: var(--warning-color);
  }
}

.group-subscription {
  display: flex;
  align-items: center;
  margin: 1rem 0;

  .group-subscription-count,
  button {
    flex: 1; // makes the two elements equal width
  }

  .btn-used {
    border: 0;
  }
}

.group-subscription-count {
  white-space: nowrap;
  font-size: 0.6rem;
  text-align: center;
  margin-right: 0.2rem;
}
